.markdown.prose {
  font-size: 1.125rem !important;
  line-height: 1.8;
}

.markdown.prose h1 {
  font-size: 2.25rem !important;
}

.markdown.prose h2 {
  font-size: 1.75rem !important;
}

.markdown.prose h3 {
  font-size: 1.375rem !important;
}
